@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: white;
  background: black
}

.menu-nav {
  padding-top: 8rem;
  padding-bottom: 9rem;
  padding-left: 5rem;
  background-color: rgb(38, 38,38);
}

.content {
  width: 100%;
  height: 34.375rem;
  margin-top: 3rem;
}

.style-title {
  width: 100%;
  padding-top: 5rem;
  padding-left: 9rem;
  padding-bottom: 1.25rem;
  text-transform: uppercase;
  font-weight: 600;
}

.typewriter {
  width: 100%;
  height: 35rem;
  padding-left: 9rem;
  color: white;
  font-weight: 900;
}

.style-text {
  width: 30rem;
  padding-top: 4rem;
  padding-bottom: 1.75rem;
}

.dash {
  width: 20.375rem;
  border-width: 2px;

}

.triangle1 {
  position: absolute;
  width: 0;
  height: 404px;
  border-style: solid;
  border-width: 0px 100px 105px 0;
  border-color: transparent transparent rgba(255, 255, 255, 0.05)  transparent;
  z-index: 0;
}

.triangle2 {
  position: absolute;
  width: 0;
  height: 404px;
  border-style: solid;
  border-width: 0px 200px 190px 0;
  border-color: transparent transparent rgba(255, 255, 255, 0.05)  transparent;
  z-index: 2;
}

.triangle3 {
  position: absolute;
  width: 0;
  height: 404px;
  border-style: solid;
  border-width: 0 290px 270px 0px;
  border-color: transparent transparent rgba(255, 255, 255, 0.05) transparent;
  z-index: 1;
}

.box-carousel {
  display: flex;
  justify-content: center;
  margin-top: 10rem;
}

.carousel {
  transition: cubic-bezier(0.4, 0, 0.2, 1);
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.circles {
  width: 100%;
}

.circle {
  border-radius: 50%;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

.box-testimonials {
  width: 50rem;
}

.testimonials {
  max-width: 56rem;
  height: 31.25rem;
  gap: 7.5rem;
}

.technology-text, 
.culture-title, 
.culture-text p, 
.culture-description {
  line-height: normal;
}

.culture-box {
  gap: 6rem;
  padding-top: 17rem;
  position: relative;
}

.culture-title {
  font-size: 5rem;
  font-weight: 800;
}

.box {
  background-color: rgb(64, 64, 64);
  width: 40rem;
  height: 37rem;
  top: 22rem;
  right: 0;
  position: absolute;
}

.culture-text {
  text-shadow: 0.1em 0.5em 0.4em rgba(0, 0, 0, 0.25)
}

.culture-text p {
  width: 30.785rem;
  font-size: 2.5rem;
}

.culture-description {
  width: 38rem;
  height: 7.125rem;
  font-size: 2rem;
}

.title-page {
  font-size: 5rem;
  text-transform: uppercase;
}

.box-title {
  width: 95%;
  height: 26rem;
  margin-top: 5rem;
  background-color: rgb(41, 41, 41);
}

.box-pre-text {
  width: 53rem;
  margin-top: 6.25rem;
  padding-left: 8rem;
  font-size: 2.5rem;
  font-weight: 400;
}

.team-title {
  width: 100%;
  padding-top: 5rem;
  font-size: 5rem;
}

.box-card {
  width: 30rem;
  height: 28rem;
  margin-top: 4rem;
  padding: 1.5rem 1.25rem;
  background-color: rgb(48, 48, 48);
}

.image-card {
  width: 9.875rem;
  height: 9.375rem;
  margin: 1rem;
}

.team-name {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
}

.team-position {
  font-size: 1.25rem;
  font-weight: 300;
  text-transform: uppercase;
}

.team-description {
  width: 27rem;
  font-size: 1.25rem;
  font-weight: 400;
  padding-left: 1.5rem;
}

.team-name, .team-position, .team-description {
  color: rgb(217, 217, 217);
  line-height: normal;
}

.button-team {
  font-size: 1.75rem;
  font-weight: 700;
  color: rgb(41, 41, 41);
  margin-right: 3rem;
}